* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(42, 44, 44);
}

header{
    position:fixed;
    z-index: 2;
    width: 100%;
    border-top: rgb(39, 39, 41);
    top: 0;
    left: 0;
    color: white;
    text-align: justify;
    font-family: sans-serif;
}

h1 {
    background-color: rgb(39, 39, 41);
    line-height: 50px;
    text-indent: 10px;
    padding-bottom: 10px;
}

h2 {
    background-color: rgb(43, 43, 49);
    text-indent: 10px;
    margin-bottom: 20px;

}

a {
    color: white;
}

#pagina {
    background-color: #414345;
    border: 5px solid  rgb(39, 39, 41);
    min-width: 90%;
    width: 90%;
    min-width: 90%;
    margin-left: 5%;
    color: white;
    text-align: justify;
    font-family: sans-serif;
}

#pagina li {
    color: white;
    margin-left: 20px;
    padding-bottom: 10px;

}

#intro {
    padding-bottom: 60px;
    margin-top: 60px;
}

.cabecalho {
    padding-bottom: 5px;
    padding-top: 0px;
    background-color: rgb(39, 39, 41);
   
}

#indice {
    padding-bottom: 60px;
}


#biografia li {
    font-weight: bold;
}

#quemsou {
    display: inline-block;
    min-height: 340px;
    min-width: 500px;
    width: 30%;

}


.bio1 {
    display: inline-block;
    position: absolute;
    z-index: 1;
 
}

#textinhobio {
    word-break: break-word;
    text-align: justify;
    margin-left: 10px;
    width: 240px;
    display: inline-block;
}

#selfie {
    margin-left:20px;
}

#qualidades {

    border-left: 4px solid rgb(43, 43, 49);
    display: inline-block;
    min-height: 340px;
    width: 63%;
    min-width: 63%;
    position: absolute;
   

}

#qualidades ul {
    padding-right: 40px;
    padding-left: 20px;
    min-height: 50px;
}

#qualidades p {
    padding-left: 20px;
    padding-bottom: 10px;
}
