* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(32, 44, 41);
}

#texto {
    background-color: rgb(35, 51, 47);
    width: 90%;
    margin: auto;
    color: white;
    padding: 0px;
    text-align: justify;
}

#texto li {
    color: white;
    margin-left: 20px;

}

#texto h1,
h2,
p {
    text-indent: 10px;
    text-align: justify;
}

#intro {
    padding-bottom: 120px;
}
#indice {
    padding-bottom: 120px;
}

h1 {
    background-color: rgb(69, 114, 109);
    line-height: 50px;
}

h2 {
    background-color: darkslategrey;
}

a {
    color: white;
}

#biografia li {
    font-weight: bold;
}