* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(42, 44, 44);
}

#texto {
    background-color: rgb(54, 56, 59);
    width: 90%;
    margin: auto;
    color: white;
    padding: 0px;
    text-align: justify;
    font-family: sans-serif
}

#texto li {
    color: white;
    margin-left: 20px;

}

#texto h1,
h2,
p {
    text-indent: 10px;
    text-align: justify;
}

#intro {
    padding-bottom: 120px;
}
#indice {
    padding-bottom: 120px;
}

h1 {
    background-color: rgb(39, 39, 41);
    line-height: 50px;
}

h2 {
    background-color: rgb(43, 43, 49);
}

a {
    color: white;
}

#biografia li {
    font-weight: bold;
}